/*Body stylesheets */
body{
	margin: 0px;
	padding: 0px;
	background: url('../images/bg.png');
	font-family: tahoma;
}

/* username form styling */
#first{
	width: 400px;
	height: 100px;
	top: 50%;
	left: 50%;
	margin-left: -220px;
	margin-top: -70px;
	position: absolute;
	background: #fff;
	border-radius: 5px;
	padding: 20px;
}
	#first fieldset{
		border: 0px;
		margin: 0px;
		padding: 0px;
	}
	#first legend{
		font-style: italic;
		color: #999;
		margin-bottom: 25px;
	}
	#first label{
		font-weight: bold;
	}
	#first input[type="text"]{
		padding: 10px;
		width: 300px;
		border: 1px solid #999;
	}
	#first input[type="submit"]{
		padding: 11px;
	}

/* We don't need this to be visible yet */
#second{display: none; margin: 0 auto; width: 900px; }
#total{
	font-size: 70pt;
	color: #555;
	text-shadow: 0px 1px #999;
	text-align: center;
}
	#total span{
		font-size: 20pt;
	}
/* Some styling for the chart */
#chart {
	width: 900px;
	height: 500px;
}
	#chart iframe{
		border-radius: 5px;
	}
	
#credits {
	text-align: center;
	font-size: .6em;
	color: #fff;
}