/*Body stylesheets */
body{
	margin: 0px;
	padding: 0px;
	background: url('../images/bg.png');
	font-family: tahoma;
}

/* username form styling */
#first{
	width: 400px;
	background: #fff;
	margin: 0 auto;
	margin-top: 200px;
	border-radius: 5px;
	padding: 20px;
}

/* We don't need this to be visible yet */
#second{display: none; margin: 0 auto; width: 900px; }

/* Some styling for the chart */
#chart {
	width: 900px;
	height: 500px;
}